{% extends 'base.html.twig' %}

{% block title %}
    City
{% endblock %}

{% block body %}
    <div class="gestionVilles">
        <h2>Gérer les villes</h2>
        <h4>Filtrer les villes</h4>

        {{ form_start(searchCityForm) }}
        {{ form_widget(searchCityForm) }}
        <button type="submit">Rechercher</button>
        {{form_end(searchCityForm)}}


        <table cellspacing="0" cellpadding="0" border="0" width="50%" height="200">
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="1" border="1" width="100%" >
                        <tr>
                            <th>Villes</th>
                            <th>Code postal</th>
                            <th>Actions</th>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width:100%; height:180px; overflow:auto;">
                        <table cellspacing="0" cellpadding="1" border="1" width="100%" >
                                {% for city in cities %}
                                    <tr>
                                        <td>{{ city.name }}</td>
                                        <td>{{ city.zip }}</td>
                                        <td><a href="{{ path('admin-city-edit', {'id': city.id}) }}">Modifier</a> - <a href="{{ path('admin-city-delete', {'id': city.id}) }}">Supprimer</a></td>
                                    </tr>
                                {% endfor %}
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        </br>
        <a href="{{ path('admin-city-create') }}">Ajouter une ville</a>
    </div>
{% endblock %}

