{% extends 'base.html.twig' %}

{% block title %}Hello SortiesController!{% endblock %}

{% block body %}
    <div class="detailEvent">
        <h1>Afficher une sortie</h1>
        <div class="viewEvent">
            <div class="viewEvent_column">
                <div class="viewEvent_ligne"><span class="viewEvent_label">Nom de la sortie : </span><span class="viewEvent_event">{{ event.name }}</span></div>
                <div class="viewEvent_ligne"><span class="viewEvent_label">Date et heure de la sortie : </span><span class="viewEvent_event">{{ event.startDate |date('d-m-Y H:m') }}</span></div>
                <div class="viewEvent_ligne"><span class="viewEvent_label">Date limite d'inscription : </span><span class="viewEvent_event">{{ event.registrationLimitDate |date('d-m-Y H:m') }}</span></div>
                <div class="viewEvent_ligne"><span class="viewEvent_label">Nombre de places : </span><span class="viewEvent_event">{{ event.maxRegistrations }}</span></div>
                <div class="viewEvent_ligne"><span class="viewEvent_label">Durée : </span><span class="viewEvent_event">{{ event.duration }}</span></div>
                <div class="viewEvent_ligne"><span class="viewEvent_label">Description et infos : </span><span class="viewEvent_event">{{ event.infos }}</span></div>
            </div>
            <div class="viewEvent_column">
                <div class="viewEvent_ligne"><span class="viewEvent_label">Campus : </span><span class="viewEvent_event">{{ event.campus }}</span></div>
                <div class="viewEvent_ligne"><span class="viewEvent_label">Lieu : </span><span class="viewEvent_event">{{ event.location.name }}</span></div>
                <div class="viewEvent_ligne"><span class="viewEvent_label">Rue : </span><span class="viewEvent_event">{{ event.location.street }}</span></div>
                <div class="viewEvent_ligne"><span class="viewEvent_label">Code postal : </span><span class="viewEvent_event">{{ event.location.city.zip }}</span></div>
                <div class="viewEvent_ligne"><span class="viewEvent_label">Latitude : </span><span class="viewEvent_event">{{ event.location.latitude }}</span></div>
                <div class="viewEvent_ligne"><span class="viewEvent_label">longitude : </span><span class="viewEvent_event">{{ event.location.longitude }}</span></div>
            </div>
        </div>
    </div>
{% endblock %}
