{{ form_start(form) }}
{{ form_row(form.campus) }}
{{ form_row(form.q) }}
{{ form_row(form.sorties) }}
{{ form_row(form.sorties2) }}
{{ form_row(form.sorties3) }}
{{ form_row(form.sorties4) }}
<button type="submit">Recherche</button>
{{ form_end(form) }}