{% extends 'base.html.twig' %}

{% block title %}Hello SortiesController!{% endblock %}

{% block body %}
       <div class="form">
            {% include 'sorties/filter.html.twig' with {form: form} only %}
        </div>
    <div class="nom_et_date">
        <h1> Date du jour : {{ "now" |date('d/m/Y') }}</h1>
        <h1> Participant: {{ app.user.username }}</h1>
    </div>
                <table class="table_list">
                    <tr>
                        <td>
                            <table class="list_entete" >
                                <tr>
                                    <td> Event name</td>
                                    <td> Start Date</td>
                                    <td> Limite date</td>
                                    <td> Registre/Max</td>
                                    <td> State</td>
                                    <td> Registered </td>
                                    <td> Organizere</td>
                                    <td> Action</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="list" >
                                <table>
                                    {% for event in events %}
                                            <tr>
                                                <td> {{ event.name | upper }}</td>
                                                <td> {{ event.startDate |date('d-m-Y')}}</td>
                                                <td> {{ event.registrationLimitDate |date('d-m-Y')}}</td>
                                                <td>{{ event.maxRegistrations }}</td>
                                                <td>{{ event.eventState.name }}</td>
                                                <td><a href="{{ path('user_details',{'id': event.organizer.id}) }}">{{ event.organizer.username }}</a></td>
                                                <td>{% if app.user != event.users and event.eventState.name != 'Finished' %}
                                                       <a href="{{ path('sorties_detail',{'id': event.id}) }}">Afficher</a>
                                                        {% else %}
                                                        XXX
                                                    {% endif %}
                                                </td>
                                            </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </td>
                   </tr>
                </table>
    <a href="{{ path('sorties_create') }}" title="Create event">Create event</a>
{% endblock %}
