{% extends 'base.html.twig' %}

{% block title %}Hello SortiesController!{% endblock %}

{% block body %}
       <div class="form">
            {% include 'sorties/filter.html.twig' with {form: form} only %}
        </div>
    <div class="nom_et_date">
        <h1> Date du jour : {{ "now" |date('d/m/Y') }}</h1>
        <h1> Participant: {{ app.user.username }}</h1>
    </div>
                <table class="table_list">
                    <tr>
                        <td>
                            <table class="list_entete" >
                                <tr>
                                    <td> Event name</td>
                                    <td> Start Date</td>
                                    <td> Limite date</td>
                                    <td> Registre/Max</td>
                                    <td> State</td>
                                    <td> Registered </td>
                                    <td> Organizere</td>
                                    <td> Action</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="list" >
                                <table>
                                    {% for event in events %}
                                        {% if  event.eventState.name != 'In progress' or app.user == event.organizer %}
                                            <tr>
                                                <td> {{ event.name | upper }}</td>
                                                <td> {{ event.startDate |date('d-m-Y')}}</td>
                                                <td> {{ event.registrationLimitDate |date('d-m-Y')}}</td>
                                                <td>{{ event.maxRegistrations }}</td>
                                                <td>{{ event.eventState.name }}</td>
                                                <td><a href="{{ path('user_details',{'id': event.organizer.id}) }}">{{ event.organizer.username }}</a></td>
                                                <td>{% if event.eventState.name != 'Finished' and event.eventState.name != 'Canceled' and event.eventState.name != 'In progress' %}
                                                        <a href="{{ path('sorties_detail',{'id': event.id}) }}">Afficher</a>
                                                        {% if app.user != event.organizer %}
                                                            {% if app.user.events == event.users %}
                                                                <a type="submit">se désister</a>
                                                            {% else %}
                                                                <a type="submit">s'inscrire</a>
                                                            {% endif %}
                                                        {% else %}
                                                            <a type="submit">Annuler</a>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if  app.user == event.organizer and event.eventState.name == 'In progress' %}
                                                    <a href="{{ path('sorties_edit',{'id': event.id}) }}">Modifer</a>
                                                    <a type="submit">Publier</a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            </div>
                        </td>
                   </tr>
                </table>
    <a href="{{ path('sorties_create') }}" title="Create event">Create event</a>
{% endblock %}
