<div class="list">
    <div class="list-name">
        {{ event.name | upper }}
    </div>
    <div class="list-duration">
        durée: {{ event.duration }}
    </div>
    <div class="list-limiteDate">
        date limite : {{ event.registrationLimitDate |date('d-m-Y')}}
    </div>
    <div class="list-maxRegiste">
        max registre :{{ event.maxRegistrations }}
    </div>
    <div class="list-eventState">
        Statut:   {{ event.eventState.name }}
    </div>
    <div class="list-username">
        Orga:   {{ event.organizer.username }}
    </div>
</div>