{% extends 'base.html.twig' %}

{% block title %}
    City
{% endblock %}

{% block body %}
    <div class="gestionVilles">
        <div class="cityForm">
            <h2>Gérer les villes</h2>
            <h4>Filtrer les villes</h4>

            {{ form_start(searchCityForm) }}
            {{ form_widget(searchCityForm) }}
            <button type="submit">Rechercher</button>
            {{form_end(searchCityForm)}}
        </div>

        <div id="tableContainer" class="tableContainer">
            <table class="scroll">
                <thead class="fixedHeader">
                <tr class="alternateRow">
                            <th>Villes</th>
                            <th>Code postal</th>
                            <th>Actions</th>
                </tr>
                </thead>
                <tbody class="scrollContent">
                                {% for city in cities %}
                                    <tr>
                                        <td>{{ city.name }}</td>
                                        <td>{{ city.zip }}</td>
                                        <td><a href="{{ path('admin-city-edit', {'id': city.id}) }}">Modifier</a> - <a href="{{ path('admin-city-delete', {'id': city.id}) }}">Supprimer</a></td>
                                    </tr>
                                {% endfor %}
                </tbody>
            </table>
        </div>
        </br>
        <div class="cityA">
            <button class="btn-cityA">
                <a href="{{ path('admin-city-create') }}">Ajouter une ville</a>
            </button>
        </div>
    </div>
{% endblock %}

