<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {# flatpickr #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

        {# Fonts #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Krona+One&family=Staatliches&display=swap" rel="stylesheet">

        {# CSS #}
        <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css">
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">

        <link rel="icon" href="{{ asset('img/emoticonLicorne.png') }}">

        {% block extrastyles %}{% endblock %}
    </head>

    <body>
        <div class="container">
            <header>
                <h1>
                    <a href="{{ path('sorties_home') }}" title="Home">
                        <img src="{{ asset('img/sortiesLogoWhite.png') }}" alt="Logo licorne blanc">
                    </a>
                </h1>
                {% include 'inc/nav.html.twig' %}
            </header>

            <main>
                {% block body %}{% endblock %}
            </main>

            {# read and display all flash messages #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <footer>
                <div>&copy; {{ "now"|date("Y") }} Sorties</div>
            </footer>

            {# Bootstrap #}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

            {# flatpickr #}
            <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
            <script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
            <script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>

            {# jquery  #}
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

            {% block js %}{% endblock %}

            <script>
                flatpickr.localize(flatpickr.l10ns.fr);
                flatpickr.l10ns.default.firstDayOfWeek = 1; // Lundi
            </script>
        </div>
    </body>
</html>
