<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">

{#        <link rel="icon" href="{{ asset('img/icon.png') }}">#}

        {% block extrastyles %}{% endblock %}
    </head>

    <body>
        <div class="container">
            <header>
                <h1>
                    <a href="{# todo : lier le lien de la page d'accueil  #}{{ path('main_home') }}" title="Home">
                        {# todo : intégrer le logo ici #}
                    </a>
                </h1>
                {% include 'inc/nav_home.html.twig' %}
            </header>

            <main>
                {% block body %}{% endblock %}
            </main>

            <footer>
                <div>&copy; {{ "now"|date("Y") }} Sorties</div>
            </footer>
        </div>
    </body>
</html>
