<nav>
    <ul>
        {% if app.user %}
            {% if path('main_home') and is_granted("ROLE_ADMIN") %}
                <li><a href="{# todo : mettre lien vers page gestion City {{ path('city') }} #}" title="Gérer les ville">Ville</a></li>
                <li><a href="{# todo : mettre lien vers page gestion Campus {{ path('campus') }} #}" title="Gérer les campus">Campus</a></li>
            {% endif %}

            <li><a href="{{ path('main_home') }}" title="Accueil">Accueil</a></li>
            <li><a href="{# todo : mettre lien vers page Profil {{ path('profile') }} #}" title="Mon profil">Mon profil</a></li>
            <li><a href="{{ path('app_logout') }}" title="Déconnexion">Déconnexion ({{ app.user.firstname }})</a></li>
        {% else %}
            <li><a href="{{ path('app_login') }}" title="Connexion">Connexion</a></li>
            <li><a href="{{ path('app_register') }}" title="Créer un compte">Créer un compte</a></li>
        {% endif %}
    </ul>
</nav>