{% extends 'base.html.twig' %}

{% block title %}
    Update your profil
{% endblock %}

{% block body %}
    <div class="updateProfil">
        <h1>Mon profil</h1>
        {% if user.pictureFileName %}
        <div><img src="{{ asset('uploads/pictures/' ~ user.pictureFileName) }}" alt="View picture" class="imgProfil"></div>
        {% endif %}
        <a href="{{ path('update_password') }}">Modifier mon mot de passe</a>

        {{form_start(UpdateProfil)}}
        {{form_widget(UpdateProfil)}}

        <button type="submit">Enregistrer</button>

        {{form_end(UpdateProfil)}}
    </div>
{% endblock %}